{% if page.script_set == 'blog' %}
<script src="{{ '/assets/js/navbar.js' | relative_url }}"></script>
<script src="{{ '/assets/js/script.js' | relative_url }}"></script>
<script src="{{ '/assets/js/blog.js' | relative_url }}"></script>
<script src="{{ '/assets/js/lightbox.js' | relative_url }}"></script>
{% elsif page.script_set == 'minimal' %}
<script src="{{ '/assets/js/navbar.js' | relative_url }}"></script>
<script src="{{ '/assets/js/lightbox.js' | relative_url }}"></script>
{% else %}
<script src="{{ '/assets/js/navbar.js' | relative_url }}"></script>
<script src="{{ '/assets/js/script.js' | relative_url }}"></script>
<script src="{{ '/assets/js/blog.js' | relative_url }}"></script>
<script src="{{ '/assets/js/publications.js' | relative_url }}"></script>
<script src="{{ '/assets/js/lightbox.js' | relative_url }}"></script>
{% endif %}
